[submodule "eaasi-client-web-api"]
	path = eaasi-client-web-api
	url = https://gitlab.com/eaasi/eaasi-client-web-api.git
[submodule "eaasi-front-end"]
	path = eaasi-front-end
	url = https://gitlab.com/eaasi/eaasi-front-end.git
[submodule "eaas-client"]
	path = eaas-client
	url = https://gitlab.com/emulation-as-a-service/eaas-client.git
