/*============================================================
 == Media Queries
/============================================================*/

@mixin desktop() {
	@media only screen and (min-width: 1200px) {
		@content;
	}
}

@mixin tablet() {
	@media only screen and (max-width: 1199px) {
		@content;
	}
}

@mixin mobile() {
	@media only screen and (max-width: 767px) {
		@content;
	}
}

/*============================================================
 == Colors
/============================================================*/

@function lighten($color, $percentage) {
	@return scale-color($color, $lightness: $percentage);
}

@function darken($color, $percentage) {
	@return scale-color($color, $lightness: $percentage * -1);
}

/*============================================================
 == Display and Positioning
/============================================================*/

@mixin clearfix {
	&:after {
		clear: both;
		content: "";
		display: table;
	}
}

@mixin stretch {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

@mixin aspect-ratio($width, $height) {
    position: relative;

    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    > div {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
