/*============================================================
 == Fonts
/============================================================*/

$font-primary: 'Lato', sans-serif;
$font-secondary: 'Lato', sans-serif;

/*============================================================
 == Colors
/============================================================*/

$dark-neutral: #6f6a67;
$light-neutral: #f0e2d6;
$dark-blue: #2479AA;
$light-blue: #73BDE8;
$teal: #2F9EB2;
$green: #80C752;
$light-green: #99D275;
$yellow: #FFD742;
$orange: #F5964B;
$red: #F26362;

/* stylelint-disable property-case, property-no-unknown, selector-pseudo-class-no-unknown */
:export {
	darkBlue: $dark-blue;
	darkNeutral: $dark-neutral;
	green: $green;
	lightBlue: $light-blue;
	lightGreen: $light-green;
	lightNeutral: $light-neutral;
	orange: $orange;
	red: $red;
	teal: $teal;
	yellow: $yellow;
}

$dark-sky-blue: #2479AA;
$sky-blue: #73BDE8;
$light-sky-blue: #C7E4F5;
$lighter-sky-blue: #F1F8FD;

$lighter-red: #F8DFDF;
$darker-red: #DE6161;

$warning-lighter-orange: #E5A981;
$warning-orange: #C78457;

$lighter-success-green: #E6F4DC;
$success-green: #CCE9BA;
$darker-success-green: #80C752;

$light-warm-grey: #F9F3EE;
$warm-grey: #A8A29E;
$dark-warm-grey: #6F6A67;

$grey: #989898;
$light-grey: #AAAAAA;
$lighter-grey: #DED0C6;

$pale-yellow: #F8F7DF;

/*============================================================
 == Sizes
/============================================================*/

$headerHeight: 8rem;
$leftSidebarWidth: 9rem;
$minAppWidth: 1024px;
$remBase: 10px

/*============================================================
 == Media
/============================================================*/
