/*============================================================
 == Fonts
/============================================================*/

$font-main: sans-serif;
$font-headlines: serif;

/*============================================================
 == Colors
/============================================================*/

$primary-link-color: #337ab7;

/*============================================================
 == Sizes
/============================================================*/

$minAppWidth: 320px;
$remBase: 10px

/*============================================================
 == Media
/============================================================*/