@font-face {
  font-family: 'Sora';
  src: local('Sora-ExtraBold'), url(../fonts/Sora-ExtraBold.ttf) format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Sora';
  src: local('Sora-Bold'), url(../fonts/Sora-Bold.ttf) format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Sora';
  src: local('Sora-SemiBold'), url(../fonts/Sora-SemiBold.ttf) format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Sora';
  src: local('Sora-Regular'), url(../fonts/Sora-Regular.ttf) format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sora';
  src: local('Sora-Light'), url(../fonts/Sora-Light.ttf) format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Sora';
  src: local('Sora-Thin'), url(../fonts/Sora-Thin.ttf) format('opentype');
  font-weight: 100;
  font-style: normal;
}