{
	"presets": [
		[
			"@babel/env",
			{
				"targets": {
					"node": "current"
				}
			}
		],
		["@babel/typescript"]
	],
	"plugins": [
		[ "@babel/plugin-proposal-decorators", {
			"legacy": true
		}],
		"@babel/plugin-proposal-numeric-separator",
		"@babel/proposal-class-properties",
		"@babel/proposal-object-rest-spread",
		["module-resolver", {
			"root": ["./"],
			"alias": {
				"@": "./src"
			}
		}]
	]
}
