{
	"extends": "stylelint-config-standard",
	"ignoreFiles": ["**/*.js", "**/*.ts"],
	"plugins": [
        "stylelint-order"
    ],
	"processors": ["stylelint-processor-html"],
    "rules": {
		"color-hex-case": null,
		"indentation": ["tab"],
		"length-zero-no-unit": null,
        "order/order": [
            "custom-properties",
            "declarations"
        ],
        "order/properties-alphabetical-order": true
    }
}